<h1>Admin</h1>
<p></p>
<%= link_to 'Quizzes', quizzes_path, class: 'btn btn-primary' %>
<%= link_to 'Questions', questions_path, class: 'btn btn-primary' %>
<%= link_to 'Answers', answers_path, class: 'btn btn-primary' %>
<%=link_to 'Users', users_path, class: 'btn btn-primary' %>
